h1,
#intro {
    margin-bottom: 0%;
    margin-top: 0%;
    margin-left: 20px;
}

h1 {
    font-size: 80px;
    font-family: century gothic;
}

body {
    font-size: 30px;
    font-family: century gothic;
    background-image: url("Images/bg.png");
    background-position: 0%;
    background-attachment: fixed;
}

.rightIntro {
    float: right;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    font-family: segoe ui;
    font-size: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

span.psw {
float: right;
padding-top: 16px;
font-size: 2vw;
}

input[type=text], input[type=password] {
width: 25%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

#submitbtn {
width: 200px;
font-size: 2vw;
border: 3px solid black;
font-family: segoe ui;
}

#submitbtn:hover {
background-color: black;
color: white;
text-decoration: none;
}