h1,#intro {
    margin-bottom: 0%;
    margin-top: 0%;
    margin-left: 20px;
    font-family: century gothic;
    font-size: 30px;
}

h1 {
    font-size: 80px;
    font-family: century gothic;
}

.rightIntro {
    float: right;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    font-family: segoe ui;
    font-size: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

img {
    height: 570px;
    margin: 40px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-right: 250px;
    font-size: 40px;
}

#about{
    font-size: 3vw;
}

#pfont {
    font-size: 4vw;
    font-weight: bold;
    text-decoration: underline;
    display: block;
    font-family: century gothic;
}

body {
    font-family: segoe ui;
    background-image: url("Images/bg.png");
    background-position: 0%;
    background-attachment: fixed;
}

#downloadbtn {
    width: 400px;
    border: 3px solid black;
    font-family: segoe ui;
}

#downloadbtn:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

#gallery{
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column img:hover {
    opacity: 1;
}

.column img {
    opacity: 0.8; 
    cursor: pointer;
    height: auto;
}

.column {
    float: left;
    width: 10%;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: auto;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}